@charset "utf-8";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

@font-face {
  font-family: "Nunito";
  src: url(../asset/font/Nunito/Nunito-Regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Nunito";
  src: url(../asset/font/Nunito/Nunito-Medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Nunito";
  src: url(../asset/font/Nunito/Nunito-SemiBold.woff2) format(woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: url(../asset/font/Nunito/Nunito-Bold.woff2) format(woff2);
  font-weight: 700;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

/*NAVBAR */
nav {
  height: 70px;
  background-color: black;
  padding: 0 4rem;
}

nav h2 {
  font-size: 40px;
}

nav a {
  text-decoration: none;
  color: white;
}

.bag-quantity {
  height: 25px;
  width: 25px;
  background: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 4px;
}

/* NOT FOUND */
section.not-found {
  min-height: 80vh;
  color: rgb(68, 68, 68);
}

section.not-found h2 {
  font-size: 56px;
}

section.not-found p {
  font-size: 20px;
}

/* HOME */
section.home-container {
  padding: 2rem 4rem;
}

section.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

section.home-container .products {
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

.product img {
  width: 80%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.product h3 {
  font-size: 24px;
  font-weight: 400;
}

.product .details .price {
  font-size: 20px;
  font-weight: 700;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 4rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4b70e2;
  color: white;
  letter-spacing: 1.15px;
}

/* CART */
section.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: black;
}

.cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 4px;
}

.cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}
